{% extends 'base.html.twig' %}

{% block title %}Question: {{ question.name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <h1 class="q-title-show">{{ question.name }}</h1>
                        <div class="q-display p-3">
                            <p class="d-inline">{{ question.question|parse_markdown }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
